#{extends 'main.html' /} 
#{set title:'User Manager' /}
<style>
<!--
li label {
	display: block;
	width: 250px;
}

ul {
	list-style: none;
}

#tablePlaceholder td {
	width:80px;
	text-overflow:ellipsis;overflow:hidden;white-space: nowrap;
}
#tablePlaceholder.tableTitle {
	width: 30%;
}
#tablePlaceholder {
	width:100%;
	table-layout: fixed;
}

.tdnormal{
	width:10%;
}
.tdshort{
	width:6%;
}

#editPanel input {
	width:80%;
}
-->
</style>
<div>
	<div id="searchPanel">
	<h2>Search User</h2>
	<ul>
		<li><label>Id:</label><input type="text" id="searchById" />
		</li>
		<li><button id="btnSearchById">search</button>
		</li>
	</ul>
	
	<ul>
		<li><label>Uid:</label><input type="text" id="searchByUid" />
		</li>
		<li><button id="btnSearchByUid">search</button>
		</li>
	</ul>
	
	
	<ul>
		<li><label>Name:</label><input type="text" id="searchByName" />
		</li>
		<li><label>Screen Name:</label><input type="text" id="searchByScreenName" />
		</li>
		<li><button id="btnSearchByConditions">search</button>
		</li>
	</ul>
	</div>
	<div style="clear: both;"></div>
	<h3>Searching Result</h3>
	<div id="searchResult">
		<table id="tablePlaceholder" border="1">
		</table>
		<div id="pagination"></div>
	</div>
	
	<div id="editPanel" >
		<h2>Create Or Update User</h2>
		<table border="1">
			<tr>
				<th>ID:</th>
				<td><span id="user_id"></span>
				</td>
			</tr>
			<tr>
				<th>UID:</th>
				<td><input id="user_uid" type="text" />
				</td>
			</tr>
			<tr>
				<th>NAME:</th>
				<td><input id="user_name" type="text" />
			</td>
			</tr>
			<tr>
				<th>SCREEN_NAME:</th>
				<td><input id="user_screen_name" type="text" />
				</td>
			</tr>
			<tr>
				<th>PROFILE_IMAGE_URL:</th>
				<td><input id="user_profile_image_url" type="text"/>
				</td>
			</tr>
			<tr>
				<th>ACCESS_TOKEN:</th>
				<td><input id="user_access_token" type="text" />
				</td>
			</tr>
			<tr>
				<th>ACCESS_TOKEN_SECRET:</th>
				<td><input id="user_access_token_secret" type="text" />
				</td>
			</tr>
			<tr>
				<td><button id="btnReset">Reset</button>
				</td>
				<td><button id="btnSubmit">Submit</button>
				</td>
			</tr>
		</table>
	</div>

</div>
<script type="text/javascript">
	var queryParameters = {};
	var searchResult;
	$(function() {
		$("#btnSearchById").click(function() {
			clearTableAndPagination();
			queryParameters = {
				type : "findUser",
				begin : 1,
				max : 20,
				id : $("#searchById").val()
			};
			showMessage("Loading...");
			$.get("/jianghu-admin-backend/findUser", queryParameters, callback, "json");
		});
		
		$("#btnSearchByUid").click(function() {
			clearTableAndPagination();
			queryParameters = {
				type : "findUser",
				begin : 1,
				max : 20,
				uid : $("#searchByUid").val()
			};
			showMessage("Loading...");
			$.get("/jianghu-admin-backend/findUser", queryParameters, callback, "json");
		});
		
		$("#btnSearchByConditions").click(function() {
			clearTableAndPagination();
			queryParameters = {
				type : "searchByConditions",
				begin : 1,
				max : 20,
				name : $("#searchByName").val(),
				screenName : $("#searchByScreenName").val(),
			}
			showMessage("Loading...");
			$.get("/jianghu-admin-backend/findUser", queryParameters, callback, "json");
		});
		$("#btnReset").click(function() {
			resetEditPanel();
		});
		$("#btnSubmit").click(
				function() {
					var user = getAndvalidateUser();
					if (user == null) {
						return;
					}
					showMessage("Waiting...");
					if (user["user.id"]) {
						$.post("/jianghu-admin-backend/updateUser", getAndvalidateUser(),
								updateOrCreateCallback, "json");
					} else {
						$.post("/jianghu-admin-backend/createUser", getAndvalidateUser(),
								updateOrCreateCallback, "json");
					}
				});
	});

	function updateOrCreateCallback(result) {
		showMessage();
		try {
			if (!result || !result.result) {
				alert("Update Or Create Failed")
			} else {
				alert("Update or Create Successful")
			}
		} catch (e) {
			alert(e);
		}
	}

	function callback(result) {
		showMessage();
		try {
			if (!result || !result.length || result.length == 0) {
				alert("No Matched User");
				return;
			}
			searchResult = result;
			buildResultTable(result);
			buildPagination();
		} catch (e) {
			alert(e);
		}
	}

	function callback2(result) {
		showMessage();
		try {
			if (!result || !result.length || result.length == 0) {
				queryParameters.begin = queryParameters == 1 ? 1
						: (queryParameters.begin - 1);
				alert("No More User");
				return;
			}
			clearTableAndPagination();
			searchResult = result;
			buildResultTable(result);
			buildPagination();
		} catch (e) {
			alert(e);
		}
	}

	function getAndvalidateUser() {
		var user = {};
		user["user.id"] = $("#user_id").html().trim();
		user["user.name"] = $("#user_name").val();
		user["user.screenName"] = $("#user_screen_name").val();
		user["user.profileImageUrl"] = $("#user_profile_image_url").val();
		user["user.accessToken"] = $("#user_access_token").val();
		user["user.secret"] = $("#user_access_token_secret").val();
		user["user.uid"] = $("#user_uid").val();
		if (!user["user.name"]) {
			alert("Require User.name");
			return null;
		}
		if (!user["user.screenName"]) {
			alert("Require User.screenName");
			return null;
		}
		return user;
	}

	function resetEditPanel() {
		$("#user_id").html("");
		$("#user_name").val("");
		$("#user_screen_name").val("");
		$("#user_profile_image_url").val("");
		$("#user_access_token").val("");
		$("#user_access_token_secret").val("");
		$("#user_uid").val("");
	}

	function clearTableAndPagination() {
		var table = $("#tablePlaceholder");
		var pagination = $("#pagination");
		table.html("");
		pagination.html("");
	}

	function buildResultTable(users) {
		if (!users || !users.length) {
			return;
		}
		var table = $("#tablePlaceholder");
		var th = "<tr><th class='tdshort'>EDIT</th><th class='tdshort'>ID</th><th class='tdnormal'>NAME</th><th class='tdnormal'>SCREEN_NAME</th><th>UID</th><th class='tdnormal'>ACCESS_TOKEN</th></tr>";
		table.append(th);
		for ( var i = 0; i < users.length; i++) {
			var user = users[i];


		var tr = "<tr><td><button class='edit' rowid='" + i +  "'>edit</button><button style='' class='delete' userId='" + user.id + "'>delete</button></td>"
					+ "<td>"
					+ user.id
					+ "</td><td>"
					+ user.name
					+ "</td><td>"
					+ user.screenName
					+ "</td><td>"
					+ user.uid
					+ "</td><td>"
					+ user.accessToken 
					+ "</td></tr>";
			table.append(tr);
		}

		$(".edit").click(function() {
			var id = $(this).attr("rowid");
			buildEditPanel(id);
		});
		
		$(".delete").click(function(){
			var userId = $(this).attr("userId");
			$.get("/jianghu-admin-backend/deleteUser",{"userId":userId},updateOrCreateCallback, "json");
		});
		
	}

	function buildEditPanel(id) {
		if (searchResult && searchResult.length) {
			var user = searchResult[id];
			
			$("#user_id").html(user.id);
			$("#user_name").val(user.name);
			$("#user_screen_name").val(user.screenName);
			$("#user_profile_image_url").val(user.profileImageUrl);
			$("#user_access_token").val(user.accessToken);
			$("#user_access_token_secret").val(user.secret);
			$("#user_uid").val(user.uid);
		}
	};

	function buildPagination() {
		if (!queryParameters) {
			return;
		}
		var pagination = $("#pagination");
		var html = "page<input id='currentPage' value='"
				+ queryParameters.begin
				+ "'/>&nbsp;&nbsp;&nbsp;<a id='previousPage' href='#'>[previous]</a>&nbsp;&nbsp;&nbsp;<a id='refreshPage' href='#'>[refresh]</a>&nbsp;&nbsp;&nbsp;<a id='nextPage' href='#'>[next]</a>";
		pagination.append(html);
		$("#currentPage").keypress(function(event){
			if(event.which == 13) {
				queryParameters.begin = $(this).val();
					showMessage("Loading...");
					$.get("/jianghu-admin-backend/findUser", queryParameters, callback2,
							"json");
			}
		});
		$("#previousPage").click(
				function() {
					queryParameters.begin = queryParameters.begin == 1 ? 1
							: (queryParameters.begin - 1);

					showMessage("Loading...");
					$.get("/jianghu-admin-backend/findUser", queryParameters, callback2,
							"json");
					
				});

		$("#refreshPage").click(function() {
			
				showMessage("Loading...");
				$.get("/jianghu-admin-backend/findUser", queryParameters, callback2,
						"json");
			
		});

		$("#nextPage").click(function() {
			queryParameters.begin = queryParameters.begin + 1;
			
				showMessage("Loading...");
				$.get("/jianghu-admin-backend/findUser", queryParameters, callback2,
						"json");
			
		})
	}
</script>
